$dark-green-title: #025157;
$dark-green-text: #135359;
$white: #ffffff;
$light-green: #67b54b;
$light-green-font: #96d178;
$grey: #4a4a4a;
$light-grey: #979797;
$light-grey-2: #b6b6b6;

$font-title: 'Alegreya', serif;

%base-title {
    font-family: $font-title;
    color: $dark-green-text;
}
