body {
    background-color: #fffbf7;
}

h1 {
    color: #025157;
    text-align: center;
}

.subtitle {
    color: #46484c;
    text-align: center;
}

.promo {
    color: #8b8b8bcc;
}

.btn {
    color: #fff;
    background-color: #025157;
}

.capterra-logo {
    display: block;
    max-width: 500px;
}

.capterra-img {
    display: block;
    min-width: 700px;
}
