body {
    background-color: #fffbf7;
    margin: 0;
}

h1 {
    color: #025157;
    text-align: center;
    font-family: 'Fascinate', cursive;
    font-size: 60px;
}

.subtitle {
    color: #46484c;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.promo {
    color: #8b8b8bcc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    color: #fff;
    background-color: #025157;
}

.capterra-logo {
    display: block;
    max-width: 500px;
}

.capterra-img {
    display: block;
    max-width: 720px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}

.header {
    margin: 40px 20px 0;
    font-size: 0;
    font-family: sans-serif;
    /* min-height: 45px;
    display: flex;
    align-items: center; */
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    /* line-height: 45px; */
}

.logo > img {
    width: 46px;
}

.navbar {
    background-color: #fffbf7;
    text-align: center;
    color: #025157;
    font-weight: 500;
}

.menu-item {
    display: inline;
    margin: 0 25px;
}

.actions {
    text-align: right;

    font-size: 14px;
    font-weight: 600;
}

.actions > * {
    margin-right: 10px;
    margin-left: 10px;
}

.actions a {
    color: #67b54b;
}

.actions button {
    color: white;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
}

.main {
    margin-top: 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.publish h3 {
    font-family: 'Fascinate', cursive;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}

.publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.publish > form {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.publish > form p {
    color: #025157;
}

.promo-video {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
    gap: 20px;
}

.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explanatory-video img {
    width: 120px;
    margin-top: 10px;
}

.features {
    display: grid;

    padding: 5% 10%;
    grid-template: repeat(2, 330fr) / repeat(2, 1fr);
    grid-gap: 20px;

    background-color: #025157;
}

.features-article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    padding: 10px 0 10px 30px;
    background-color: #fffbf7;
    grid-gap: 43px;
}

.features-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.features-title {
    color: #343434;
}

.features-content {
    color: #7e7e7e;
    font-size: 16px;
    font-weight: 400;
}

.features-link:link,
.features-link:visited {
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}

.features-img-container {
    display: flex;
    align-items: center;
}

.features-img-container img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 60%;

    border-radius: 14px;
}

.features-img-container:hover {
    cursor: pointer;
}

.success-stories {
    background-color: #a1d683;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.success-stories .overview {
    flex: 2;
    padding-right: 100px;
}

.success-stories .overview h2 {
    font-family: 'Alegreya', serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
}

.success-stories .overview p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.success-stories .overview button {
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
}

.success-stories .overview img {
    width: 500px;
    max-width: 100%;
}

.carousel-card {
    min-height: 600px;
    max-width: 370px;
    width: 100%;
    margin: 0 auto;
}
.carousel-card-img {
    max-height: 30vh;
    height: 100%;
}

.carousel-card-img img {
    max-height: 30vh;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* .carousel-card-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 60px;
    border-radius: 50%;
} */

.carousel-card-logo img {
    width: 80px;
    height: 60px;
    border-radius: 50%;
    object-fit: contain;
    display: block;
    z-index: 10;
    position: absolute;
    top: 123px;
    background-color: orange;
    right: 20px;
}

.card-content {
    background-color: #fff;
    padding: 10px;
    max-width: 370px;
    width: 100%;
}

@media (max-width: 991px) {
    .actions,
    .navbar {
        text-align: center;
    }
}

@media (max-width: 575px) {
    .navbar,
    .actions {
        text-align: center;
    }

    .main {
        margin-top: 130px;
    }

    .main h1 {
        font-size: 30px;
    }

    .banner > img {
        width: 100%;
    }

    .publish {
        margin-top: 10px;
    }

    .publish > h3 {
        font-size: 25px;
        line-height: 1.2;
    }

    .publish > form {
        flex-direction: column;
    }

    .publish > form > div {
        height: 50px;
        margin-top: 10px;
    }

    .publish > form > div > input {
        width: 65%;
    }

    .promo-video {
        flex-direction: column;
        max-width: 90%;
    }

    .explanatory-video > video {
        width: 100%;
    }

    .features {
        display: flex;
        flex-direction: column;
    }
}
