body {
    background-color: #fffbf7;
}

h1 {
    color: #025157;
    text-align: center;
    font-family: 'Fascinate', cursive;
}

.subtitle {
    color: #46484c;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.promo {
    color: #8b8b8bcc;
}

.btn {
    color: #fff;
    background-color: #025157;
}

.capterra-logo {
    display: block;
    max-width: 500px;
}

.capterra-img {
    display: block;
    max-width: 720px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}

.header {
    margin: 20px 20px 0;
    font-size: 0;
    font-family: sans-serif;
    height: 45px;
    display: flex;
    align-items: center;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    /* line-height: 45px; */
}

.logo {
    width: 15%;
}

.logo > img {
    width: 15%;
}

.navbar {
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}

.menu-item {
    display: inline;
    margin: 0 25px;
}

.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.actions > * {
    margin-right: 10px;
    margin-left: 10px;
}

.actions a {
    color: #67b54b;
}

.actions button {
    color: white;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
}

.main {
    margin-top: 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.publish h3 {
    font-family: 'Fascinate', cursive;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}

.publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.publish > form {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.publish > form p {
    color: #025157;
}

.promo-video {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
    gap: 20px;
}

.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explanatory-video img {
    width: 120px;
    margin-top: 10px;
}
